# Server
PORT=3000
NODE_ENV=development
APP_URL=http://localhost:3000

# Database
DATABASE_URL=postgresql://postgres-username:password@host.supabase.co:5432/postgres


# License
LICENSE_PRICE=50000
LICENSE_DURATION_DAYS=365
OFFLINE_GRACE_PERIOD_HOURS=72

# AbacatePay API
ABACATEPAY_BASE_URL=https://api.abacatepay.com.br
ABACATEPAY_API_KEY=sua_api_key_aqui
ABACATEPAY_WEBHOOK_SECRET=seu_webhook_secret_aqui
ABACATEPAY_PRODUCT_ID=prod_exemplo_123
ABACATEPAY_PRODUCT_NAME=Licenca de Software
ABACATEPAY_PRODUCT_DESCRIPTION=Acesso ao software por 1 ano
ABACATEPAY_PRODUCT_QUANTITY=1
ABACATEPAY_AMOUNT=50000
CARD_BILLING_RETURN_URL=http://localhost:3000/payment/card/return
CARD_BILLING_COMPLETION_URL=http://localhost:3000/payment/card/completion

# Security
JWT_SECRET=sua-chave-secreta-super-segura-alterar-em-producao
ENCRYPTION_MASTER_KEY=sua-chave-mestre-para-criptografia
