name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          path: repos/saas

      - name: Generate Keys (if not exists)
        working-directory: repos/saas
        run: |
          LICENSES_DIR="/home/alfred/licenses"
          mkdir -p "$LICENSES_DIR"

          if [ ! -f "$LICENSES_DIR/private.pem" ] || [ ! -f "$LICENSES_DIR/public.pem" ]; then
            echo "Generating keys for the first time..."
            chmod +x scripts/generate-keys.sh
            ./scripts/generate-keys.sh

            # Save the generated keys to the licenses directory
            cp api/src/license/private.pem "$LICENSES_DIR/private.pem"
            cp app/license/public.pem "$LICENSES_DIR/public.pem"
          else
            echo "Keys already exist in $LICENSES_DIR. Moving to project directories..."

            # Ensure the target directories exist
            mkdir -p api/src/license
            mkdir -p app/license

            # Move the keys to the project directories
            cp "$LICENSES_DIR/private.pem" api/src/license/private.pem
            cp "$LICENSES_DIR/public.pem" app/license/public.pem
          fi

      - name: Copy .env file
        run: cp /home/alfred/envs/.env.saas.api api/.env
        with:
          path: repos/saas

      - name: Install dependencies
        run: npm install
        with:
          path: repos/saas

      - name: Restart app
        run: |
          pm2 delete saas-backend || true
          pm2 start src/main.js --name saas-backend --node-args="--env-file=.env" --watch
          pm2 save

      - name: Ensure PM2 startup
        run: |
          pm2 startup
          pm2 resurrect