name: Deploy Production

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Ensure RabbitMQ
        run: |
          if [ ! $(sudo docker ps -q -f name=rabbitmq) ]; then
            if [ $(sudo docker ps -aq -f status=exited -f name=rabbitmq) ]; then
              sudo docker rm rabbitmq
            fi
            sudo docker run -d --name rabbitmq -p 5672:5672 -p 15672:15672 \
              -e RABBITMQ_DEFAULT_USER=guest \
              -e RABBITMQ_DEFAULT_PASS=guest \
              rabbitmq:3-management
          fi

      - name: Install deps
        run: npm install

      - name: Restart app
        run: pm2 restart app || pm2 start src/main.js --name app