name: Deploy Production

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 24.13.1

      - name: Generate Keys (if not exists)
        run: |
          PERSISTENT_KEYS_DIR="/home/flaviovf/keys"
          mkdir -p "$PERSISTENT_KEYS_DIR"

          if [ ! -f "$PERSISTENT_KEYS_DIR/private.pem" ] || [ ! -f "$PERSISTENT_KEYS_DIR/public.pem" ]; then
            chmod +x scripts/generate-keys.sh
            ./scripts/generate-keys.sh

            # Copiar as chaves geradas para o diretório persistente
            cp api/src/license/private.pem "$PERSISTENT_KEYS_DIR/private.pem"
            cp app/license/public.pem "$PERSISTENT_KEYS_DIR/public.pem"
          else
            echo "Keys already exist in persistent storage. Skipping generation."

            # Restaurar as chaves do diretório persistente
            cp "$PERSISTENT_KEYS_DIR/private.pem" api/src/license/private.pem
            cp "$PERSISTENT_KEYS_DIR/public.pem" app/license/public.pem
          fi

      - name: Copy .env file
        run: cp ~/envs/.env.api api/.env

      - name: Install dependencies
        working-directory: api
        run: npm install

      - name: Build application
        working-directory: api
        run: npm run build --if-present

      - name: Ensure RabbitMQ
        run: |
          if [ -z "$(docker ps -q -f name=rabbitmq)" ]; then
            if [ -n "$(docker ps -aq -f status=exited -f name=rabbitmq)" ]; then
              docker rm rabbitmq
            fi
            docker run -d \
              --name rabbitmq \
              -p 5672:5672 \
              -p 15672:15672 \
              -e RABBITMQ_DEFAULT_USER=guest \
              -e RABBITMQ_DEFAULT_PASS=guest \
              rabbitmq:3-management
          fi

      - name: Restart app
        working-directory: api
        run: |
          pm2 delete app || true
          pm2 start src/main.js --name app