name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Generate Keys (if not exists)
        working-directory: /home/alfred/repos/saas/saas
        run: |
          LICENSES_DIR="/home/alfred/repos/saas/saas/licenses"
          mkdir -p "$LICENSES_DIR"

          echo "$PRIVATE_KEY" > "$LICENSES_DIR/private.pem"
          echo "$PUBLIC_KEY" > "$LICENSES_DIR/public.pem"

          # Ensure the target directories exist
          mkdir -p api/src/license
          mkdir -p app/license

          # Move the keys to the project directories
          cp "$LICENSES_DIR/private.pem" api/src/license/private.pem
          cp "$LICENSES_DIR/public.pem" app/license/public.pem
        env:
          PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
          PUBLIC_KEY: ${{ secrets.PUBLIC_KEY }}

      - name: Copy .env file
        working-directory: /home/alfred/repos/saas
        run: cp /home/alfred/envs/.env.saas.api api/.env

      - name: Install dependencies
        working-directory: /home/alfred/repos/saas
        run: npm install

      - name: Restart app
        working-directory: /home/alfred/repos/saas
        run: |
          pm2 delete saas-backend || true
          pm2 start src/main.js --name saas-backend --node-args="--env-file=.env" --watch
          pm2 save