name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          path: _work/saas

      - name: Generate Keys (if not exists)
        working-directory: _work/saas
        run: |
          LICENSES_DIR="/home/alfred/licenses"
          mkdir -p "$LICENSES_DIR"

          if [ ! -f "$LICENSES_DIR/private.pem" ] || [ ! -f "$LICENSES_DIR/public.pem" ]; then
            echo "Generating keys for the first time..."
            chmod +x scripts/generate-keys.sh
            ./scripts/generate-keys.sh

            # Save the generated keys to the licenses directory
            cp api/src/license/private.pem "$LICENSES_DIR/private.pem"
            cp app/license/public.pem "$LICENSES_DIR/public.pem"
          else
            echo "Keys already exist in $LICENSES_DIR. Moving to project directories..."

            # Ensure the target directories exist
            mkdir -p api/src/license
            mkdir -p app/license

            # Move the keys to the project directories
            cp "$LICENSES_DIR/private.pem" api/src/license/private.pem
            cp "$LICENSES_DIR/public.pem" app/license/public.pem
          fi

      - name: Copy .env file
        working-directory: _work/saas
        run: cp /home/alfred/envs/.env.saas.api api/.env

      - name: Install dependencies
        working-directory: _work/saas/api
        run: npm install

      - name: Ensure RabbitMQ
        run: |
          if [ -z "$(docker ps -q -f name=rabbitmq)" ]; then
            if [ -n "$(docker ps -aq -f status=exited -f name=rabbitmq)" ]; then
              docker rm rabbitmq
            fi
            docker run -d \
              --name rabbitmq \
              -p 5672:5672 \
              -p 15672:15672 \
              -e RABBITMQ_DEFAULT_USER=guest \
              -e RABBITMQ_DEFAULT_PASS=guest \
              --restart unless-stopped \
              rabbitmq:3-management
          fi

      - name: Restart app
        working-directory: _work/saas/api
        run: |
          pm2 delete saas-backend || true
          pm2 start src/main.js --name saas-backend --node-args="--env-file=.env" --watch
          pm2 save

      - name: Ensure PM2 startup
        run: |
          pm2 startup
          pm2 resurrect